* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

header.bg-img {
    position: relative;
    background-color: #343a40;
    background: url("../image/School/4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

header.bg-img .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

@media (min-width: 768px) {
    header.bg-img {
        padding-top: 6rem;
        padding-bottom: 12rem;
    }
    header.bg-img h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}